*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    height: 100%;
}
body::-webkit-scrollbar {
    display: none;
}
.navbar{
    color: white;
    font-weight: 600;
    /* background-color: #4da56c; */
}
.navbar a{
    color: white;
}
.navbar .collapse .nav-item a:hover{
    color: #43A047;
}

/* banner section */
.banner_section {
    height: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner_section {
    background: red url('./images/banner.webp') no-repeat center;
    background-size: cover;
    position: relative;
}
.banner_section::before {
    content: "";
    background: rgb(0 0 0 /70%);
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
}
.container-fluid{
    z-index: 1;
}
.banner-section h1 , p {
    color: white;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons .fab {
    color: rgb(255, 255, 255);
}

.social-icons a:hover .fab {
    /* Change to desired hover color */
    color: #1B5E20;
    color: black;
    color: rgb(90, 81, 218);
}



/* footer section */
.footer-section{
    height: 20rem;
    background: linear-gradient(to right, #434343, #000000);
}

footer{
    max-width: 1320px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.cont5{
    display: flex;
    flex-direction: row;
    height: 10rem;
    width: auto;
    gap: 3rem;
}

.cont6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 22rem;
}

.foot-png-cont{
    height: 5rem;
    margin-bottom: 1rem;
}

.foot-png{
    height: 100%;
    width: 10rem;
    /* background: transparent url('/images/Venus_logo.webp') no-repeat center center; */
    background-size: contain;
}

.footer-address{
    display: flex;
    flex-direction: column;
}

.footer-social{
    height: 10rem;
    width: 26rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-nav , .footer-service{
    height: 10rem;
    width: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
}
.footer-nav a , span{
    text-decoration: none;
    color: rgb(187, 179, 179);
}
.footer-nav .us-link{
    color: white;
    font-size: 1.4rem;
    font-weight: 600;
}
.footer-service a , span{
    text-decoration: none;
    color: rgb(187, 179, 179);
}
.footer-service .us-link{
    color: white;
    font-size: 1.4rem;
    font-weight: 600;
}
.footer-social .foot-social-head{
    font-size: 1.5rem;
    font-weight: 700;
    color: #31ba31;
}
.footer-social .foot-social-sub{
    color: #25a925;
    font-weight: 500;
    padding-bottom: 1rem;
}
.foot-contact{
    display: flex;
    flex-direction: column;
}
.foot-contact span{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: rgb(187, 179, 179);
}
.foot-contact span .contact-png{
    color: #098909;
    font-size: 1.1rem;
    margin-right: 0.3rem;
    padding: 0.25rem;
}
.foot-right{
    width: 100%;
    background: linear-gradient(to right, #434343, #000000);
    color: white;
    --bs-gutter-x: 0rem;
}



@media (max-width: 992px) {
    .row{
        flex-direction: row;
    }
    #about_us_section .container .wid {
        width: 100%;
    }
}