/* media query */
@media (max-width : 1400px) {
    .banner3_section .cont2{
        max-width: 1320px;
    }
    .cont4{
        max-width: 1120px;
    }
    .cont5{
        max-width: 1120px;
    }
}
@media (max-width : 1200px) {
    .start-box{
        max-width: 1120px;
    }

    .banner3_section .cont2{
        max-width: 1120px;
    }

    .cont4{
        max-width: 1120px;
    }
    .cont5{
        max-width: 1120px;
        gap: 0;
    }
    .cont6{
        width: 20rem;
    }
    .footer-social{
        width: 15rem;   
    }
}
@media (max-width : 992px) {
    .start-section{
        height: 85rem;
    }
    .start-box{
        flex-direction: column;
        padding: 7rem 1rem;
        max-width: 720px;
        margin: 0 auto;
    }
    .start-box-left , .start-box-right{
        height: 100%;
        width: 100%;
        align-items: center;
    }
    .star-box-left-in{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .start-text {
        font-size: 6rem;
    }
    .start-left-bottom{
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .btn-con {
        height: 5.5rem;
        width: 15rem;
        font-size: 2rem;
    }
    .quiry-text {
        color: white;
        font-size: 1.8rem;
    }
    .media-p{
        height: 100%;
    }
    .row{
        flex-direction: column;
        /* width: 45rem; */
        justify-content: center;
        align-items: center;
        flex-wrap: none;
    }
    .wid-100{
        width: 100%;
    }
    .row-100{
        height: 100%;
    }
    .height-100{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #services_section .png-s {
        font-size: 8rem;
    }
    #services_section h5 {
        font-size: 2.25rem;
    }
    .ban-img{
        max-height: 55vh;
        height: 100%;
        width: 100%;
        display: flex;
    }
    .pad-0{
        padding-top: 0px;
    }
    h3{
        font-size: 3rem;
        padding: 1rem 0;
    }
    .gray {
        color: gray;
        font-size: 2rem;
    }
    .btn-green {
        display: none;
    }    
    .banner3_section {
        /* height: 100%; */
        height: auto;
    }
    .banner3_section .cont2{
        max-width: 960px;
    }
    .about-title{
        font-size: 3rem;
        padding-bottom: 1.5rem;
    }
    .about-dis {
        font-size: 1.5rem;
    }
    .ban-img2 {
        max-height: 48rem;
        height: 100%;
        width: 100%;
    }

    .display-pic{
        /* height: 100%; */
        height: auto;
    }
    .cont4{
        max-width: 960px;
    }
    .cont3 {
        flex-direction: column;
        align-items: center;
    }
    .cont5{
        gap: 0rem;
        max-width: 960px;
        align-items: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .cont6{
        width: 15rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer-address {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer-nav, .footer-service {
        justify-content: center;
        align-items: center;
    }
    .footer-social{
        width: 15rem;   
    }
}
@media (max-width : 820px) {
    .start-section {
        height: 74rem;
    }
    .start-text {
        font-size: 5rem;
    }
    .banner3_section {
        height: auto;
    }
    .banner3_section .about-head-text{
        font-size: 2rem;
    }
    .display-pic {
        height: auto;
    }
    .footer-section {
        height: auto;
    }    
    .cont5 {
        gap: 3rem;
        height: auto;
        width: 30rem;
        flex-direction: column; 
    }
    .cont6 {
        width: 100%;
    }
    .foot-png-cont {
        height: 13rem;
        width: 20rem;
        margin-bottom: 1rem;
    }
    .foot-png {
        height: 100%;
        width: 100%;
    }
    .footer-address {
        font-size: 1.9rem;
    }
    .footer-nav, .footer-service {
        width: 100%;
        font-size: 1.5rem;
    }
    .footer-nav .us-link {
        font-size: 2.4rem;
    }
    .footer-social {
        height: 100%;
        width: 100%;
        font-size: 1.9rem;
    }
    .foot-contact span .contact-png {
        font-size: 2rem;
        margin-right: 0.3rem;
        padding: 0.7rem;
    }
}
@media (max-width : 768px) {
    .start-section {
        height: 64rem;
    }
    .banner3_section {
        height: auto;
    }
    .display-pic {
        height: auto;
    }
    #services_section .png-s {
        font-size: 6rem;
    }
    #services_section h5 {
        font-size: 1.25rem;
    }
    .gray {
        font-size: 1.2rem;
    }
    .footer-section {
        height: auto;
    }
    .footer {
        height: auto;
    }
    .cont5 {
        gap: 0rem;
        height: auto;
        width: auto;
        padding-top: 1rem;
        padding-bottom: 1rem;
        flex-direction: column; 
    }
    .cont6 {
        height: auto;
        margin-bottom: 1rem;
    }
    .foot-png-cont {
        width: 19rem;
    }
    .footer-address {
        font-size: 1.5rem;
    }
    .footer-nav, .footer-service {
        height: auto;
    }
    .footer-nav .us-link {
        font-size: 2.4rem;
    }
    .footer-service .us-link {
        font-size: 2.4rem;
    }
    .footer-social {
        height: auto;
        font-size: 1.3rem;
    }
    .foot-contact span .contact-png {
        font-size: 2rem;
        margin-right: 0.3rem;
        padding: 0.2rem;
    }
}
@media (max-width : 576px) {
    .start-section {
        height: 58rem;
    }
    .start-text {
        font-size: 4rem;
    }
    .btn-con {
        height: 3.5rem;
        width: 9rem;
        font-size: 1.3rem;
    }
    .quiry-text {
        font-size: 1.13rem;
    }
    h3 {
        font-size: 2rem;
    }
    #services_section .png-s {
        font-size: 6rem;
    }
    #services_section h5 {
        font-size: 1.87rem;
    }
    .gray {
        font-size: 1.3rem;
    }
    .pad-0{
        padding-top: 0!important;
    }
    .about-title {
        font-size: 1.4rem;
    }
    .cont5{
        width: 100%;
    }
}
@media (max-width : 395px) {
    .start-section {
        height: 54rem;
    }
    .start-text {
        font-size: 3.5rem;
    }
    #services_section .png-s {
        font-size: 5rem;
    }
    #services_section h5 {
        font-size: 1.61rem;
    }
}
@media (max-width : 378px) {
    .start-section {
        height: 42rem;
    }
    .start-box {
        padding: 6rem 1rem;
    }
    .start-text {
        font-size: 3rem;
    }
    .btn-con {
        height: 3rem;
        width: 8rem;
        font-size: 1.1rem;
    }
    .quiry-text {
        font-size: 1.01rem;
    }
    .footer-address {
        font-size: 1.4rem;
    }
}
@media (max-width : 360px) {
    .start-section {
        height: 47rem;
    }
}
@media (max-width : 300px) {
    .start-section {
        height: 42rem;
    }
    .start-text {
        font-size: 2.5rem;
    }
    .btn-con {
        height: 2.7rem;
        width: 7rem;
        font-size: 1rem;
    }
    .quiry-text {
        font-size: .7rem;
    }
}
